Project_2_Data_Warehouse/dwh.cfg
Project_3_Data_Lakes_with_Spark/dl.cfg
Capstone_Project/config.cfg
Capstone_Project/molten-gantry-301621-06b56bfa11e8.json
Capstone_Project/.DS_Store
Capstone_Project/notes
Capstone_Project/google-api-conditional-select.py
Capstone_Project/temp/
.DS_Store
Capstone_Project/amazon-redshift-python-driver
Capstone_Project/plugins/helpers/__pycache__/redshift_helper.cpython-39.pyc
Capstone_Project/__pycache__/redshift_helper.cpython-39.pyc
Capstone_Project/plugins/helpers/__pycache__/sql_queries.cpython-39.pyc
Capstone_Project/sample-data/2022-01-03 (2).csv
Capstone_Project/sample-data/
